.player__menu {
  background-color: black;
}

.player__menu-button {
  border: none;
  color: white;
  background-color: transparent;
  height: 19px;
  width: 24px;
}

.player__menu-button:hover {
  cursor: pointer;
}

.player__menu-icon {
  margin: auto 0;
}
