.vp-player {
  box-shadow: 0 0 20px black;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
}

.vp-player__screen {
  flex-grow: 999;
  width: 100%;
  height: 100%;
}

.vp-player__menu {
  background-color: black;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  min-height: 45px;
}

.vp-player__menu-button {
  border: none;
  color: white;
  background-color: transparent;
  width: 30px;
  margin: 0;
  flex-grow: 1;
  padding: 0;
  font-size: 20px;
}

.vp-player__menu-button:hover {
  cursor: pointer;
}

.vp-player__menu-icon {
  margin: auto 0;
}

.vp-player__progress-bar {
  flex-grow: 999;
  /* background-color: transparent; */
  height: 4px;
  border-radius: 4px;
  align-self: center;
  margin: auto 10px;
  display: flex;
}

.vp-player__progress_bar__slider {
  align-self: center;
  height: 100%;
  background-color: #f8104d;
}

.vp-player__progress-bar__slider-dot {
  height: 8px;
  width: 8px;
  background-color: #f8104d;
  border-radius: 50%;
  display: block;
  border: 3px solid white;
  align-self: center;
  margin-right: -6px;
}

.vp-player__timer-current {
  margin-left: 3px;
}

.vp-player__timer-total {
  margin-right: 3px;
}

.vp-player__timer-current,
.vp-player__timer-total {
  color: white;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  margin-top: 11px;
}

.margin-right-8px {
  margin-right: 8px;
}

.margin-right-6px {
  margin-right: 6px;
}
