.vp-player {
  box-shadow: 0 0 20px black;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 600px;
}

.vp-player__screen {
  flex-grow: 999;
  width: 100%;
  height: 100%;
}

.vp-player__menu {
  background-color: black;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  min-height: 45px;
  column-gap: 8px;
  padding: 0 2px;
}

.vp-player__menu-button {
  border: none;
  color: white;
  background-color: transparent;
  width: 30px;
  font-size: 20px;
  flex: 0 0 auto;
}

.vp-player__menu-button:hover {
  cursor: pointer;
}

.vp-player__progress-bar {
  height: 5px;
  align-self: center;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.vp-player__progress_bar__bar {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  margin: 0 -4px;
}

.vp-player__progress_bar__slider {
  align-self: center;
  height: 100%;
  background-color: #f8104d;
  border-radius: 5px;
}

.vp-player__progress-bar__slider-dot {
  height: 8px;
  width: 8px;
  background-color: #f8104d;
  border-radius: 50%;
  display: block;
  border: 3px solid white;
  align-self: center;
  margin-left: -6px;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

.vp-player__progress-bar:hover .vp-player__progress-bar__slider-dot {
  opacity: 1;
  transition: opacity ease-in-out 0.3s;
}

.vp-player__timer-current,
.vp-player__timer-total {
  color: white;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  flex: 0 0 auto;
}
